html{
  height: 100%;
}
  body {
      /*background-size: 100%;*/
        font-family: "Fira Sans", sans-serif;
        /*margin-top: 3em;*/
        font-size: 140%;
        height: 100%;
        overflow: hidden;
        margin: 0;
        padding: 0;
}
/*position: relative;*/
/*overflow: hidden;*/

#hours{
      top: 0px !important;
      font-size: 190%;
      position: absolute;
      right: 5%;
      margin-top: 0.1em; /* Подымание и опускание часов */
      color: #343434;
    }

.slide--parent {
  width: 100%;
  height: 95%;

  }

p {
  line-height: 1.8;
}

h1 {
  letter-spacing: 10px; /* Расстояние между буквами*/
 color: #343434;
}

.colors {
  height: 140px;
  background: linear-gradient(to bottom, #F6EFD2, #CEAD78);
}
.parent--el {
  /*margin-top: 25%;*/
  width: 100%;
  /*max-width: 1500px;*/
  margin: auto;

}
.parent--el .two--col {
  display: flex;
  align-items: center;
}

figure {
  margin: 0;
}

.is-item.has--img {
  width: 100%;
}

.the-img {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.is-item--inner {
  padding: 0em 3em;
}


.is-item--inner p {
  transform: translateY(15px);
  position: relative;
  opacity: 0;
  transition: all 400ms ease;
}

h1 {
  margin-top: 0.3em;
  margin-left: 2%;
  max-width: 700px;
  overflow: hidden;
 

}
h1 span {
  transform: translateY(100%);
  position: relative;
  transition: all 500ms ease;
  display: inline-block;
}
.the-img img{
  position: absolute;
  max-width: 920px;
  max-height: 640px;
}
.parent--el.is-selected .the-img {
  overflow: hidden;
}
.parent--el.is-selected .the-img img {
  position: relative;
  transform: translateX(0%);
  transition-delay: 500ms;
}
.parent--el.is-selected .is-item--inner p {
  transform: translateY(0px);
  transition-delay: 500ms;
  position: relative;
  opacity: 1;
}

.parent--el.is-selected h1 {
  overflow: hidden;
}
.parent--el.is-selected h1 span {
  transform: translateY(0%);
  position: relative;
  transition-delay: 400ms;
  display: inline-block;
}

.texts{
  text-align: left;
  margin-left: 60px;
  font-size: 111%;

}
